<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.helpmommy" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Help Mommy</name>
    <description>A reward app that can earn by helping your mommy.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <hook src="scripts/prebuild.js" type="before_prepare" />
    <platform name="android">
        <icon src="res/mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
</widget>
