.app {
    background: #f8f8f8;
    height: calc(100vh - 2em);

    .link {
        color: inherit;
        text-decoration: none;
    }

    .container {
        padding: 1em;
    }

    .bg-white {
        background: #ffffff;
    }
}

