body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}

a, p, div, td {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.MuiButton-root {
    font-weight: 700 !important;
}

.MuiOutlinedInput-root {
    background: #ffffff;
}

.form-control {
    margin-bottom: .5em;
}

.block-img {
    img {
        max-width: 100%;
    }

    .img-fluid {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

.icon-primary {
    background: #1976d2 !important;
    color: #fff !important;
}

.rounded-icon {
    border-radius: 100%;
    padding: 10px;
}

.margin-button {
    margin: .5em 0 !important
}

.margin-top-none {
    margin-top: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}
