body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}

a, p, div, td {
    font-family: 'Roboto', sans-serif;
}

.my {
    font-family: 'Noto Sans Myanmar', sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

svg.MuiSvgIcon-root {
    vertical-align: middle;
}

svg[data-testid="DeleteForeverIcon"].MuiSvgIcon-root,
svg[data-testid="FavoriteIcon"].MuiSvgIcon-root {
    color: #c50000;
}

svg[data-testid="HeartBrokenIcon"].MuiSvgIcon-root {
    color: #444444;
}

svg[data-testid="WalletIcon"].MuiSvgIcon-root {
    color: #1976d2;
}

.MuiButton-root {
    font-weight: 700 !important;
}

.MuiOutlinedInput-root {
    background: #ffffff;
}

.MuiMenuItem-root span.hearts {
    position: absolute;
    right: 16px;
}

.MuiAlert-root {
    margin: 1em 0;
}

.tip {
    color: #d32f2f;
}

span.hearts svg {
    margin-right: -5px;
}

.form-control {
    margin-bottom: .5em;
}

.block-img {
    img {
        max-width: 100%;
    }

    .img-fluid {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.icon-primary {
    background: #1976d2 !important;
    color: #fff !important;
}

.rounded-icon {
    border-radius: 100%;
    padding: 10px;
}

.margin-button {
    margin: .5em 0 !important
}

.margin-top-none {
    margin-top: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
